
@{
	ViewBag.Title = "Admin";
}

<div class="container">
	<h1 align="center" style="font-size:45px; font-weight:bolder">Admin</h1>
	<hr /><br />
	<p align="center">
		<button class="btn btn-primary" id="adminSearch-blog-button">Search</button>
		<select alight="right" id="searchStatusList" required>
			<option value="allAuthorPosts">All Posts</option>
			<option value="AuthorPublishedPosts">Published Posts</option>
			<option value="AuthorPendingPosts">Pending Posts</option>
			<option value="AuthorRemovedPosts">Removed Posts</option>
		</select>
		<select alight="right" id="filterByList">
			<option value="blogAllAuthors">All Authors</option>
			<option value="blogAuthorName">Author Name </option>
		</select>
		<input type="text" id="inputForAdminSearch" />
	</p>
	<p align="center">
		<button class="btn btn-primary" id="clear-adminFilters-button">Clear Filters</button>
	</p>
	<div><br /><hr /></div>
</div>
<div class="container">
	<div class="allAuthorBlogs">
		@*all blogs by one author go here*@
	</div>
	<div class="filteredAuthorBlogs">
		@*filtered blogs by status by one author go here*@
	</div>
    <p>
        @Html.ActionLink("Register a new user", "Register")
    </p>
    <p>
        @Html.ActionLink("Reset users password", "ResetPassword")
    </p>
</div>