
@{
    ViewBag.Title = "Blogs";
}

<div class="container" align="left">
    <h2>Blog Title</h2>
    <p>
        <button class="btn btn-primary" id="search-blog-button">Search</button>
        <select alight="right" id="searchCategoryDropList" required>
            <option value="" disabled="disabled" selected="selected">Search </option>
            <option value="title">Title</option>
            <option value="datePosted">DatePosted</option>
            <option value="authorName">Author Name </option>
            <option value="hashtag">#Hashtag</option>
        </select>
        <input type="text" />
    </p>
</div>
<div class="container" align="right">
    <!--each blog post should come up with these buttons when they load. They may have to add these buttons when they list-->
    <p><button class="btn btn-danger" id="adminEditBlogPostBtn">Admin: Edit Blog Post</button></p>
    <p><button class="btn btn-danger" id="adminDeleteBlogoPostBtn">Admin: Delete Blog Post</button></p>
</div>