
@{
    ViewBag.Title = "CreateBlog";
}

<head>

</head>

<h2>CreateBlog</h2>
<div class="container">
    <input type="text" placeholder="Blog Title" id="blog-Title-input"/>
    <input type="text" placeholder="#Hashtags" id="hashtag-input"/>
    <!--need to add Tiny MCE here!!-->
</div>

