
@{
    ViewBag.Title = "CreateBlog";
}

<head>

</head>

<h2>CreateBlog</h2>
<div class="container">
    <div>
        <form>
            <p><input type="text" placeholder="Blog Title" id="blog-Title-input" /></p>
            <p><input type="text" placeholder="MM/DD/YYYY format" id="blog-event-date"/></p>
            <p><input type="text" placeholder="#Hashtags" id="hashtag-input" /></p>
            <textarea id="blogtextarea"></textarea>
            <div align="right">
                <button class="btn btn-warning">Submit</button>
                <button class="btn btn-danger">Publish</button>
            </div>
        </form>
    </div>
</div>

