
@{
	ViewBag.Title = "My Blogs";
}

<div class="container" align="left">
	<h2>My Blogs</h2>
	<p>
		<button class="btn btn-primary" id="search-blogByAuthor-button">Search</button>
		<select id="searchPostStatus" required>
			<option value="" disabled="disabled" selected="selected">Search </option>
			<option value="allMyPosts">All Posts</option>
			<option value="myPublished">Published Posts</option>
			<option value="myPending">Pending Posts</option>
			<option value="myDraft">Drafts</option>
		</select>
	</p>
</div>
<div class="container">
	<div class="allBlogsByAuthor">
		@*all blogs by one author go here*@
	</div>
	<div class="filteredBlogsByAuthor">
		@*filtered blogs by status by one author go here*@
	</div>
</div>