
@{
	ViewBag.Title = "My Blogs";
}


<div class="container">
	<h1 align="center" style="font-size:45px; font-weight:bolder">My Blogs</h1>
	<hr /><br />
	<p align="center">
		<button class="btn btn-primary" id="search-blogByAuthor-button" style="width:100px">Search</button>
		<select id="searchPostStatus" required style="height:30px; width:150px">
			<option value="" disabled="disabled" selected="selected">Search </option>
			<option value="allMyPosts">All Posts</option>
			<option value="myPublished">Published Posts</option>
			<option value="myPending">Pending Posts</option>
			<option value="myDraft">Drafts</option>
		</select>
	</p>
	<div><br /><hr /></div>
</div>
<div class="container">
	<input type="hidden" id="forTheLoveOfGodWork" value="@HttpContext.Current.User.Identity.Name"/>
	
	<div class="allBlogsByAuthor">
		@*all blogs by one author go here*@
	</div>
	<div class="filteredBlogsByAuthor">
		@*filtered blogs by status by one author go here*@
	</div>
</div>